@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');

@import url('https://fonts.cdnfonts.com/css/varta');

body {
  font-family: 'Varta', sans-serif;
  background-attachment: fixed;
  background-image: linear-gradient(13deg, #181818, #181818, #181818, #DA643F);
  cursor: default;
}

.super-ocean {
  font-family: "Chicle", serif;
}

.txt-orange{
  color: #DA643F;
}

.txt-gold{
  color: #E1B137;
}

.bg-blur {
  backdrop-filter: blur(25px);
  background-color: rgba(255, 255, 255, 0.05);
}

.form-control,
.form-select {
  border: 1px solid #DA643F;

  &:focus {
    box-shadow: none;
    border-color: #E1B137;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

// HEADER
header {
  background: transparent;

  .logo_deliveboo {
    width: 50px;
    height: 50px;
  }

  .bg-darkgray {
    background-image: linear-gradient(13deg, #181818, #181818, #181818, #DA643F);
  }

  .text-orange {
    color: #DA643F;
    font-size: 30px;
  }

  .text-gold {
    color: #E1B137;
    font-size: 30px;
  }

  .my-nav-link {
    font-size: 23px;
    padding-right: 10px;
    color: white;
    text-decoration: none;

    &:hover {
      color: #DA643F;
    }
  }

  .activeRoute {
    color: #DA643F;
  }


  // BUTTONS
  .btn-login.super-ocean {
    color: white;
    text-decoration: none;
    background-color: #DA643F;
    border: 1px transparent;
    border-radius: 20px;
    padding: 8px 25px;

    &:hover {
      color: #DA643F;
      background-color: white;
    }
  }

  .btn-register.super-ocean {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px 25px;

    &:hover {
      color: #DA643F;
      background-color: white;
    }
  }

  // HAMBURGER-BUTTON

  .popup {
    --burger-line-width: 1.125em;
    --burger-line-height: 0.125em;
    --burger-offset: 0.625em;
    --burger-bg: rgba(0, 0, 0, .15);
    --burger-color: #fff;
    --burger-line-border-radius: 0.1875em;
    --burger-diameter: 2.125em;
    --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
    --burger-line-transition: .3s;
    --burger-transition: all .1s ease-in-out;
    --burger-hover-scale: 1.1;
    --burger-active-scale: .95;
    --burger-enable-outline-color: var(--burger-bg);
    --burger-enable-outline-width: 0.125em;
    --burger-enable-outline-offset: var(--burger-enable-outline-width);
    /* nav */
    --nav-padding-x: 0.25em;
    --nav-padding-y: 0.625em;
    --nav-border-radius: 0.375em;
    --nav-border-color: #ccc;
    --nav-border-width: 0.0625em;
    --nav-shadow-color: rgba(0, 0, 0, .2);
    --nav-shadow-width: 0 1px 5px;
    --nav-bg: #eee;
    --nav-font-family: Menlo, Roboto Mono, monospace;
    --nav-default-scale: .8;
    --nav-active-scale: 1;
    --nav-position-left: 0;
    --nav-position-right: unset;
    /* title */
    --nav-title-size: 0.625em;
    --nav-title-color: #777;
    --nav-title-padding-x: 1rem;
    --nav-title-padding-y: 0.25em;
    /* nav button */
    --nav-button-padding-x: 1rem;
    --nav-button-padding-y: 0.375em;
    --nav-button-border-radius: 0.375em;
    --nav-button-font-size: 12px;
    --nav-button-hover-bg: #DA643F;
    --nav-button-hover-text-color: #fff;
    --nav-button-distance: 0.875em;
    /* underline */
    --underline-border-width: 0.0625em;
    --underline-border-color: #ccc;
    --underline-margin-y: 0.3125em;
    z-index: 999;
  }


  nav.popup-window {
    font-family: 'Audiowide', system-ui;
  }

  .popup {
    display: inline-block;
    text-rendering: optimizeLegibility;
    position: relative;
  }

  .popup input {
    display: none;
  }

  .burger {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: var(--burger-bg);
    width: var(--burger-diameter);
    height: var(--burger-diameter);
    border-radius: var(--burger-btn-border-radius);
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: var(--burger-transition);
    outline: var(--burger-enable-outline-width) solid transparent;
    outline-offset: 0;
  }

  .burger span {
    height: var(--burger-line-height);
    width: var(--burger-line-width);
    background: var(--burger-color);
    border-radius: var(--burger-line-border-radius);
    position: absolute;
    transition: var(--burger-line-transition);
  }

  .burger span:nth-child(1) {
    top: var(--burger-offset);
  }

  .burger span:nth-child(2) {
    bottom: var(--burger-offset);
  }

  .burger span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%);
  }

  .popup-window {
    transform: scale(var(--nav-default-scale));
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: var(--nav-padding-y) var(--nav-padding-x);
    background: rgb(0 0 0 / 85%);
    font-family: var(--nav-font-family);
    color: var(--nav-text-color);
    border-radius: var(--nav-border-radius);
    box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
    border: var(--nav-border-width) solid #343a40;
    top: calc(var(--burger-diameter) + var(--burger-enable-outline-width) + var(--burger-enable-outline-offset));
    left: -115px;
    right: var(--nav-position-right);
    transition: var(--burger-transition);
  }

  .popup-window legend {
    padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
    margin: 0;
    color: var(--nav-title-color);
    font-size: var(--nav-title-size);
    text-transform: uppercase;
  }

  .popup-window ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .popup-window ul button {
    outline: none;
    width: 100%;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    color: var(--burger-color);
    font-size: var(--nav-button-font-size);
    padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
    white-space: nowrap;
    border-radius: var(--nav-button-border-radius);
    cursor: pointer;
    column-gap: var(--nav-button-distance);
    font-size: 16px;
  }

  .popup-window ul li:nth-child(1) svg,
  .popup-window ul li:nth-child(2) svg {
    color: cornflowerblue;
  }

  .popup-window ul li:nth-child(4) svg,
  .popup-window ul li:nth-child(5) svg {
    color: rgb(153, 153, 153);
  }

  .popup-window ul li:nth-child(7) svg {
    color: red;
  }

  .popup-window hr {
    margin: var(--underline-margin-y) 0;
    border: none;
    border-bottom: var(--underline-border-width) solid var(--underline-border-color);
  }

  /* actions */

  .popup-window ul button:hover,
  .popup-window ul button:focus-visible,
  .popup-window ul button:hover svg,
  .popup-window ul button:focus-visible svg {
    color: var(--nav-button-hover-text-color);
    background: var(--nav-button-hover-bg);
  }

  .burger:hover {
    transform: scale(var(--burger-hover-scale));
  }

  .burger:active {
    transform: scale(var(--burger-active-scale));
  }

  .burger:focus:not(:hover) {
    outline-color: var(--burger-enable-outline-color);
    outline-offset: var(--burger-enable-outline-offset);
  }

  .popup input:checked+.burger span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .popup input:checked+.burger span:nth-child(2) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }

  .popup input:checked+.burger span:nth-child(3) {
    transform: translateX(calc(var(--burger-diameter) * -1 - var(--burger-line-width)));
  }

  .popup input:checked~nav {
    transform: scale(var(--nav-active-scale));
    visibility: visible;
    opacity: 1;
    z-index: 999;
  }

  // END HAMBURGER-BUTTON
}

// HOMEPAGE
#homepage{
  .title{
    font-size: 60px;
  }

  .section_margin{
    margin: 150px 0px;
  }
}


// DASHBOARD
#dashboard {
  .e-card {
    margin: 100px auto;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
    position: relative;
    width: 350px;
    height: 250px;
    border-radius: 16px;
    overflow: hidden;
  }

  .wave {
    position: absolute;
    width: 540px;
    height: 700px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -50%;
    margin-top: -70%;
    background: linear-gradient(90deg, hsla(29, 92%, 70%, 1) 0%, hsla(0, 87%, 73%, 1) 100%);
  }

  .icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
  }

  .infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 5.6em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

  .name {
    font-size: 14px;
    font-weight: 100;
    position: relative;
    top: 1em;
    text-transform: lowercase;
  }

  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 210px;
  }

  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }

  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }

  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }

  .wave:nth-child(2) {
    animation-duration: 50s;
  }

  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }

  .wave:nth-child(3) {
    animation-duration: 45s;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.text-lightgray {
  color: lightgray;
  font-size: 18px;
}

// REGISTER PAGE
#register-page {
  .card {
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.05);

    .super-ocean {
      font-size: 25px;
    }

    .btn {
      color: white;
      font-size: medium;
      background-color: #DA643F;
      border: 1px transparent;
      padding: 8px 15px;

      &:hover {
        color: #DA643F;
        background-color: white;
      }
    }

    .my-form {
      background-color: transparent !important;
      color: white;

    }

    .dropdown-menu {
      height: 250px;
      overflow-y: scroll;
      background-color: #181818;
      color: white;

      li {
        &:hover {
          background-color: #777 !important;
        }

        input {
          border: 1px solid #DA643F !important;
          background-color: transparent;
          vertical-align: middle;
          margin: 0;
          margin-right: 5px;

          &:hover {
            cursor: pointer;
          }

          &:focus {
            box-shadow: none;
            border-color: #E1B137;
          }
        }
      }
    }

    .req_fields {
      font-size: 14px;
    }
  }
}

// LOGIN PAGE
#login-page {
  .card {
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.05);

    .super-ocean {
      font-size: 25px;
    }

    .my-form {
      background-color: transparent !important;
      color: white;
    }
  }

  .my-btn {
    color: white;
    font-size: medium;
    background-color: #DA643F;
    border: 1px transparent;
    padding: 8px 15px;

    &:hover {
      color: #DA643F;
      background-color: white;
    }
  }

  .btn-link {
    color: #DA643F;

    &:hover {
      color: white;
    }
  }

  /* Hide the default checkbox */
  .my-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .my-container {
    width: 22px;
    height: 21px;
    border-radius: 9px;
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    box-shadow: rgba(139, 18, 113, 0.2) 0px 8px 24px;
    background-color: transparent;
    border: 1px solid #da643f;
  }

  /* Create a custom checkbox */
  .checkmark {
    border-radius: 9px;
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .my-container input:checked~.checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .my-container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid rgb(233, 182, 182);
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
  }
}

// RESET PASSWORD PAGE
#forgot-password {
  .card {
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.05);

    .super-ocean {
      font-size: 25px;
    }

    .btn {
      color: white;
      font-size: medium;
      background-color: #DA643F;
      border: 1px transparent;
      padding: 8px 15px;

      &:hover {
        color: #DA643F;
        background-color: white;
      }
    }

    .form-control {
      background-color: transparent !important;
      color: white;
    }
  }
}

// RESTAURANTS PAGE
#restaurants-page {
  .card {
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.05);

    .super-ocean {
      font-size: 2.5rem;
    }

    img {
      max-width: 100%;
    }

    .info-restaurant {
      display: flex;
      align-items: center;

      i {
        font-size: 2.5rem;
        color: #DA643F;
      }

      span {
        font-size: 2rem;
        padding-left: 10px;
      }
    }

    .btn {
      color: white;
      font-size: medium;
      background-color: #DA643F;
      border: 1px transparent;
      padding: 8px 15px;

      &:hover {
        color: #DA643F;
        background-color: white;
      }
    }
  }
}

// MENU PAGE
#menu-page {
  .btn {
    color: white;
    font-size: medium;
    background-color: #DA643F;
    border: 1px transparent;

    i {
      vertical-align: middle;
    }

    &:hover {
      color: #DA643F;
      background-color: white;
    }
  }

  .card {
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
    margin-bottom: 30px;
  }
}

// ADD DISH PAGE
#add-dish,
#modify-dish {
  .card {
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.05);

    .super-ocean {
      font-size: 25px;
    }

    .arrow-rotate {
      position: absolute;
    }

    .btn {
      color: white;
      font-size: medium;
      background-color: #DA643F;
      border: 1px transparent;
      padding: 8px 15px;

      &:hover {
        color: #DA643F;
        background-color: white;
      }
    }

    .my-form,
    .my-select,
    .my-input-text {
      background-color: transparent !important;
      color: white;
      border: 1px solid #DA643F;

      .my-option {
        background-color: #181818;
        color: white;

        &:active,
        &:hover {
          background-color: #777 !important;
        }
      }
    }

    ::placeholder {
      color: white;
    }
  }
}

// MODAL DELETE
#modal_delete {
  .modal-content {
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.05);
    color: white;

    .super-ocean {
      font-size: 25px;
      color: #DA643F;
    }

    .modal-header,
    .modal-footer {
      border: 0;
    }

    .modal-body {
      padding: 5px 16px;
    }

    .btn {
      color: white;
      font-size: medium;
      background-color: #DA643F;
      border: 1px transparent;
      padding: 8px 15px;

      &:hover {
        color: #DA643F;
        background-color: white;
      }
    }
  }
}

// UPDATE PROFILE INFORMATION
#update-profile {

  .form-control,
  .form-select {
    border: 1px solid #DA643F;
    background-color: transparent;
    color: white;

    &:focus,
    &:focus {
      box-shadow: none;
      border-color: #da643f;
      background-color: transparent;
      color: white;
    }
  }


  button.btn {
    color: white;
    font-size: medium;
    background-color: #DA643F;
    border: 1px transparent;

    &:hover {
      color: #DA643F;
      background-color: white;
    }
  }

}

// ORDERS PAGE
#order_page {
  .card {
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.05);

    .super-ocean {
      font-size: 25px;
    }
  }

  .table-transparent {
    background-color: transparent;

    .btn {
      color: white;
      font-size: medium;
      background-color: #DA643F;
      border: 1px transparent;

      i {
        vertical-align: middle;
      }

      &:hover {
        color: #DA643F;
        background-color: white;
      }
    }
  }

  .table-transparent thead th {
    background-color: transparent;
    color: #fff;
    text-align: left;
  }

  .table-transparent tbody td {
    background-color: transparent;
    color: #fff;
    text-align: center;
    vertical-align: middle;
  }

  select {
    background-color: #18181800;
    margin-right: 5px;

    option {
      background-color: #181818c8;
    }
  }
}

#error-page {
  height: calc(100vh - 66.5px);

}


/* MEDIA QUERIES */
@media screen and (max-width: 576px) {
  header .popup-window {
    top: 45px;
    left: -77px;
  }

  h1.display-5.fw-bold.super-ocean.text-white {
    font-size: 38px;
    text-align: center;

  }

  p.col-md-8.pt-2.text-lightgray {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  #restaurants-page .card .info-restaurant {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #col-email {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  h1.display-5.fw-bold.super-ocean.text-white {
    font-size: 45px;
    text-align: center;
  }

  p.col-lg-5.pt-2.text-lightgray {
    text-align: center;
  }
}